# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore MuS local environment settings
service/mus/environment/*.php

.DS_Store

#eclipse files
.buildpath
.project
.settings/

